{{#if show_head_follow}}
<div class="head-follow gplus-head-follow">
  <div class="head-title">
    <span class="head-icon"></span>
    Google Plus
  </div>
  <a class="follow-button"
     href="https://plus.google.com/{{username}}/posts"
     target="_blank">
    Follow
  </a>
</div>
{{/if}}
<div class="gplus-feed feed">
</div>
