{{#if show_head_follow}}
<div class="head-follow instagram-head-follow">
  <div class="head-title">
    <span class="head-icon"></span>
    Instagram
  </div>
  <a class="follow-button"
     href="https://instagram.com/{{username}}/"
     target="_blank">
    Follow
  </a>
</div>
{{/if}}
<div class="instagram-feed feed">
  <div id="{{instafeed_id}}">
  </div>
  <button class="load-more">
    Load more
  </button>
</div>
